.cards {
    position: relative;
    max-width: 282px;
    background: #FFFFFF;
    border-radius: 10px;
}

/*@media screen and (max-width: 1023px) {
    .cards {
        grid-template-columns: repeat(2, 282px);
        grid-auto-rows: 361px;
        justify-content: center;
    } 
}

@media screen and (max-width: 767px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
    }
}*/


.cards__photo {
    min-height: 282px;
    height: 50%;;
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.cards__caption-container {
    margin: 25px auto 31px;
    max-width: 246px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cards__caption {
    margin: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 75%;
}

.cards__btn-like {
        background: url(../../../images/like.svg) no-repeat transparent;
        width: 22px;
        height: 19px;
        padding: 0;
        border: none;
        transition: opacity .2s ease;
        cursor: pointer;
}
    
.cards__btn-like:hover {
        opacity: 50%;
}
    
.cards__btn-like:active {
        fill: #000000;
}

.cards__btn-like_active {
    background-image: url(../../images/like_active.svg);
    transition: opacity .2s ease;
}

.cards__btn-like_active:hover {
    opacity: 50%;
}

.cards__delete-btn {
    background: url(../../images/delete_btn.svg) no-repeat transparent center;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    width: 18px;
    height: 19px;
    box-sizing: border-box;
    transition: opacity .2s ease;
    cursor: pointer; 
}

.cards__delete-btn:hover {
    opacity: .6;
}
