.cards__btn-like {
    background: url(../../../images/like.svg) no-repeat transparent;
    width: 22px;
    height: 19px;
    padding: 0;
    border: none;
    transition: opacity .2s ease;
    cursor: pointer;
}

.cards__btn-like:hover {
    opacity: 50%;
}

.cards__btn-like:active {
    fill: #000000;
}