.profile__user-info {
    display: flex;
    align-items: center;
    gap: 18px;
}

@media screen and (max-width: 767px) {
    .profile__user-info {
        margin-left: 30px;
        gap: 10px;
    }
}